@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 94%);
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 0.6rem;
}

.form-data {
    position: absolute;
    top: 50%; left: 50%; padding: 3%;
    transform: translate(-50%, -50%); 
    border-radius: 20px 20px 30% 20px;
    background-color: white;
}

.btn-area, .input-fields {
    display: flex;
}

hr {
    width: 99%; margin: auto; border: none;
    background-color: hsl(0, 0%, 94%);
    border-top: 1px solid #f0f0f0;
}

label {
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    font-size: 0.6rem;
    font-weight: bold;
    color: gray;
}

.first-label,
.second-label,
.third-label {
    display: flex;
    flex-direction: column;
}

input {
    width: 14vh;
    height: 8vh;
    margin-right: 1.5rem;
    border: 1px solid lightgray;
    outline: none;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1rem;
}

.arrow {
    border-radius: 50%;
    background-color: hsl(259, 100%, 65%);
    border: none;
    width: 4rem;
    height: 3.8rem;
}

img {
    width: 2rem;
}

@media (min-width: 300px) and (max-width: 960px) {

    p {
        font-size: 0.4rem;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .form-data {
        padding: 6%;
        padding-right: 2%;
    }

    label {
        margin-bottom: 0.5rem;
    }

    input {
        width: 2rem;
        height: 1.5rem;
        font-size: 0.8rem;
        padding-left: 0.6rem;
        margin-right: 0.6rem;
    }

    .btn-area {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    hr {
        margin-top: 2rem;
    }

    button {
        position: relative;
        bottom: 2rem;
    }
}